version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    ignore:
      # Ignore minor and major updates, only security + patches
      - dependency-name: "*"
        update-types:
          ["version-update:semver-minor", "version-update:semver-major"]
